body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #EEEEEE;;
  width: 850px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 48px;
  background-color: brown;
  padding: .5em;
  border: 2px solid black;
  margin: 20px 0;
  margin-bottom: 50px;
}

.contenedor-lista {
  margin-top: 0 auto;
  display: flex;
}

.contenedor-lista li {
  font-size: 20px;
  list-style: none;
  text-align: center;
  background-color: #548CA8;
  width: 280px;
  padding: 8px;
  border: 2px solid black;
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}